/* ------------------- */
/* ROOT     */
/* ------------------- */
:root {
  --color-white: #fff;
  --color-light-grey: #d0d6f9;
  --font-main: 'Barlow Condensed';
  --font-secondary: 'Bellefair';
  --font-w-400: 400;
  --clr-drk: #0b0d17;
  --clr-white: #fff;
  --mrg-normal: 3.2rem;
}
.container {
  margin: 2.4rem;
}
.secondary-header {
  font-size: 5.6rem;
  line-height: 6.4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  margin-top: 2rem;
  font-weight: 400;
  color: #ffffff;
}
.tertiary-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #d0d6f9;
}

.dest-num {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  color: #ffffff;
  opacity: 0.25;
}

.color-white {
  color: #fff;
}

.destination-desc {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--color-light-grey);
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #383b4b;
}

.crew-job {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
  font-family: var(--font-secondary);
  font-weight: 400;
  margin-top: 3.2rem;
}

.crew-name {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.6rem;
}

.crew-desc {
  margin-top: 1.6rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #d0d6f9;
}
